body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    color: rgb(95, 95, 95);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#input-field, #btn {
    height: 30px;
    border: 1px solid rgb(95, 95, 95);
    margin: 0;
}

#input-field {
    width: 300px;
    outline: none;
    font-size: 18px;
    vertical-align: middle;
    margin-right: 2px;
    border-radius: 5px;
    padding: 0;
}

::placeholder {
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: rgb(160, 160, 160);
}

#btn {
    width: 30px;
    font-size: 30px;
    border-radius: 5px;
    padding: 0;
    line-height: 0;
    margin: 0;
    vertical-align: middle;
    color: rgb(95, 95, 95);
    
}

.entry-styling {
    background-color: #ffe5f0;
    margin: 0;
    cursor: pointer;
    font-size: 20px;
    width: 325px;
    padding: 0;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

input[type=checkbox]:checked + label {
    text-decoration: line-through;
    font-style: italic;
    color: rgb(160, 160, 160);
}

label {
    justify-content: flex-start;
}

.cancel {
    border-radius: 10%;
    background-color: transparent;
    border: 1px solid rgb(95, 95, 95);
    width: 48px;
    height: 18px;
    line-height: 0;
    padding: 0;
    color: rgb(95, 95, 95);
}

button:hover {
    opacity: 0.75;
}
.todo {
    display: flex;
    justify-content: space-between;
    width: 332px;
}

#todo-list {
    display: flex;
    flex-direction: column;
}

